<div class="col-lg-12 col-md-12 text-center">
    <h4>Hi <%= current_user.email[/[^@]+/].split(".").map {|n| n.capitalize }.join(" ") %> your report.</h4> 
</div>
<h1>Incomes</h1>
<% if @incomes.present? %>
	<% @incomes.each do |income| %>
		<p><%= income.name %>: <%= income.amount %></p>
	<% end %>
<% else %>
	<p> no income preasent </p>
<% end %>
<p><b>Total Income:</b> <%= @incomes.sum(:amount) %></p>
<h1>Expences</h1>
<% if @expences.present? %>
	<% @expences.each do |expence| %>
		<p><%= expence.name %>: <%= expence.amount %></p>
	<% end %>
<% else %>
	<p> no expensence preasent </p>
<% end %>
<p><b>Total Expence:</b> <%= @expences.sum(:amount) %></p>
<p><b>Remaining Amount:</b> <%= @incomes.sum(:amount) - @expences.sum(:amount) %></p>