<div class="pull-right"><h4><a href="/incomes/reports.pdf" target="_blank" ><button class="text-success">Export pdf</button></a></h4></div>

<h1>Incomes</h1>
<% if @incomes.present? %>
	<% @incomes.each do |income| %>
		<p><%= income.payment.name %>: <%= income.payment.amount %></p>
	<% end %>
<% else %>
	<p> no income preasent </p>
<% end %>
<p><b>Total Income:</b> <%= @incomes.sum(:amount) %></p>
<h1>Expences</h1>
<% if @expences.present? %>
	<% @expences.each do |expence| %>
		<p><%= expence.payment.name %>: <%= expence.payment.amount %></p>
	<% end %>
<% else %>
	<p> no expensence preasent </p>
<% end %>
<p><b>Total Expence:</b> <%= @expences.sum(:amount) %></p>
<% if (@incomes.sum(:amount) > @expences.sum(:amount)) %>
	<p><b>Remaining Amount:</b> <%= @incomes.sum(:amount) - @expences.sum(:amount) %></p>
<% elsif(@incomes.sum(:amount) == @expences.sum(:amount)) %>
	<p><b>your income and expence is equal</b></p>
<% elsif(@incomes.sum(:amount) < @expences.sum(:amount))	%>
	<p>your expence is exceed your income (<b>exceed amount:</b> <%= @expences.sum(:amount) - @incomes.sum(:amount) %>)</p>
<% end %>